.itd_circle {
  width: 45px;
  height: 45px;
  border: 3px solid yellow;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: url("../img/image.png") no-repeat;
  background-color: #bae2ec;
}

.pre-footer {
  height: 120vh;
  background-attachment: scroll;
  background-position: center bottom;
  background-image: url("../img/image\(2\).webp");
  background-repeat: no-repeat;
}

.center {
  position: relative;
  left: 405px;
  top: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.number {
  color: #5a5cbd;
  font-weight: 700;
}

.nav-link {
  color: #5a5cbd;
  font-size: 35px;
  font-weight: 700;
  font-family: 'Noto Sans';
}

.block-1 {
background: url("../img/image.png.png") no-repeat 50%;
max-width: 1680px;
height: 771px;
background-size: contain;
}

.desc {
  font-weight: 700;
  font-size: 46px;
  line-height: 50px;
  text-align: left;
  color: white;
  padding-top: 200px;
}

.btn-1 {
  vertical-align: middle;
  color: #000000;
  background-color: #f5e503;
  margin-top: 25px;
  padding: 10px;
}

.text-center {
color: #5a5cbd;
margin-bottom: 50px;
}